* {
  box-sizing: border-box;
}

:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}

html {
  font-size: 62.5%; /* 1rem = 10px --- tỷ lệ quy đổi là 62.5% */
}
/* khôi phục cỡ chữ mặc định */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* ================common================= */
a {
  text-decoration: none;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: inline-block;
  min-width: 118px; /*chiều rộng tối thiểu của nút*/
  padding: 0 16px; /* 16px => đảm bảo text khi dài ra vẫn đảm bảo không bị tràn */
  line-height: 50px; /*chiều cao của nút*/
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
  background: #171100;
}
.btn:hover {
  opacity: 0.9;
}
/* ================header================= */
.header {
  background: #fffcf4;
}
.header.fixed {
  z-index: 1;
  /* chỗ này chọn '.' phải sát*/
  position: sticky;
  top: -28px; /*-28px để phần header dính sát trên và khi lăn chột đến 8px thì dừng */
}

.header .body-header {
  display: flex;
  align-items: center;
  padding: 36px 0 8px; /*8px là khi dùng sticky thì không dính phần tử dưới khi ta lăn chuột xuống, ngoài ra theo chỗ này thì mút Sign Up không dính vào header, lưu ý: có liên quan khoảng cách khối hero*/
}

.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}

.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
}
.nav li.active a,
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}
.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}
.header .btn-sign-up {
  min-width: 144px;
}
.header .action {
  margin-left: 49px;
}

/* ====================hero============== */
.hero {
  padding: 56px 0 65px;
  /* dùng margin-top thì không đổ nền được */
  background-color: #fffcf4;
}
.hero .body {
  display: flex;
}
/* ================hero left================= */
.hero .media-block {
  position: relative;
  width: 48%;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover; /*giữ tỉ lệ ảnh và cắt ảnh nếu vượt quá khung---giữ không bị vỡ ảnh*/
  border-radius: 20px;
}

.hero .hero-summary {
  padding: 24px;
  width: 270px;
  position: absolute;
  bottom: 48px;
  right: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}
.hero-summary .item {
  display: flex;
  align-items: center;
}
.hero-summary .item + .item {
  margin-top: 22px;
}

.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fff9e8;
}
.hero-summary .icon2 {
  background-color: #fcefff;
}
.hero-summary .icon3 {
  background-color: #ebeaff;
}
.hero-summary .info {
  margin-left: 16px;
}
.hero-summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
}
.hero-summary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}
/* ===============hero right============== */
.hero .content-block {
  width: 52%; /*độ rộng khối ảnh hưởng đến chữ*/
  padding-left: 130px;
  padding-top: 64px;
}
.hero .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17; /* 117.241% */
}
.hero .description {
  margin-top: 28px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}
.hero .cta-group {
  display: flex;
  align-items: center;
  margin-top: 38px;
}
.hero-cta {
  line-height: 64px;
  min-width: 180px;
  background-color: var(--primary-color);
}
.hero .watch-video {
  margin-left: 28px;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
}
.hero .watch-video span {
  margin-left: 14px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}
.hero .desc-recent {
  margin-top: 48px;
}
.hero .stats {
  margin-top: 8px;
}
.hero .stats strong {
  margin-right: 15px;
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23; /* 122.727% */
}
.hero .stats strong:nth-child(2) {
  margin-left: 28px;
}
