* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px --- tỷ lệ quy đổi là 62.5% */
}
/* khôi phục cỡ chữ mặc định */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* ================common================= */
a {
  text-decoration: none;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: inline-block;
  min-width: 118px; /*chiều rộng tối thiểu của nút*/
  padding: 0 16px; /* 16px => đảm bảo text khi dài ra vẫn đảm bảo không bị tràn */
  line-height: 50px; /*chiều cao của nút*/
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 24.5px;
  background: #171100;
}
/* ================header================= */
.header {
  background: #2fbfd8;
}
.header.fixed {
  /* chỗ này chọn '.' phải sát*/
  position: sticky;
  top: -28px; /*-28px để phần header dính sát trên và khi lăn chột đến 8px thì dừng */
}

.header .body-header {
  display: flex;
  align-items: center;
  padding: 36px 0 8px; /*8px là khi dùng sticky thì không dính phần tử dưới khi ta lăn chuột xuống*/
}

.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}

.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
}
.nav li.active a,
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}
.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}
.header .btn-sign-up {
  min-width: 144px;
}
.header .action {
  margin-left: 49px;
}
